
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Fredoka';

}
nav ul{
    display: flex;
    height: 40px;
    background-color: black;
    color: white;
    list-style-type: none;
    font-weight: 100;
    font-size: 1.3rem;
}
.brand img{height: 40px;
  
}

.brand{
    display: flex;
    align-items: center;
    font-weight: 100;
}